//
// Dinamic CSS positions
// --------------------------------------
$positions: top, right, bottom, left;

//
// Define base rem sizes
// --------------------------------------
$size-rem-1     	: 1rem;
$size-rem-xs    	: 2rem;
$size-rem-sm    	: 2.8rem;
$size-rem-md    	: 4.2rem;
$size-rem-lg    	: 7rem;
$size-rem-xl    	: 13.5rem;

// Base REM sizes Fibonacci's progression
// --------------------------------------
//$size-rem-xs    : 2rem;
//$size-rem-sm    : 3rem;
//$size-rem-md    : 5rem;
//$size-rem-lg    : 8rem;
//$size-rem-xl    : 13rem;

// Sizes map
$rem-sizes: (
    'xs'    : $size-rem-xs,
    'sm'    : $size-rem-sm,
    'md'    : $size-rem-md,
    'lg'    : $size-rem-lg,
    'xl'    : $size-rem-xl,
);

//
// Typography
// --------------------------------------
// google fonts
//$main-font          : "Lato", Helvetica, Arial, sans-serif !important;
//$second-font        : "Inconsolata", Times, serif !important;
// secure fonts

$main-font          : Helvetica, Arial, sans-serif !important;
$second-font        : Helvetica, Arial, sans-serif !important;
$monospace-font     : Menlo, Monaco, Consolas, "Courier New", monospace !default;

//
// 1. Diseño da tamaño de fuentes en píxeles
//
/*
$jumbo-px   : 66.666;
$h1-px      : 53.333;
$h2-px      : 40;
$h3-px      : 33.333;
$h4-px      : 25.714;
$h5-px      : 20;
$h6-px      : 17.42;
 */

//Carofile
$jumbo-px   : 64;
$h1-px      : 55;
$h2-px      : 48;
$h3-px      : 40;
$h4-px      : 32;
$h5-px      : 20;
$h6-px      : 16;

$p-xs-px    : 14;
$p-sm-px    : 16;
$p-px       : 20;
$p-lg-px    : 24;

//
// base root sizes
//
$fs-mobile    : 14.666;
$fs-tablet    : 14.666;
$fs-desktop   : 20;

//
// Responsive breakpoints to change
// base html font-size.
//
$font-changeat_1 : 'sm';
$font-changeat_2 : 'xl';

// Conver size in % and keep in variables.
// It computes size consider $fs-px in relation
// with base font size at desktop size
$fs-base : $fs-desktop;

$jumbo-fs   : font_rem($jumbo-px, $fs-base);
$h1-fs      : font_rem($h1-px, $fs-base);
$h2-fs      : font_rem($h2-px, $fs-base);
$h3-fs      : font_rem($h3-px, $fs-base);
$h4-fs      : font_rem($h4-px, $fs-base);
$h5-fs      : font_rem($h5-px, $fs-base);
$h6-fs      : font_rem($h6-px, $fs-base);
$p-xs       : font_rem($p-xs-px, $fs-base);
$p-sm       : font_rem($p-sm-px, $fs-base);
$p          : font_rem($p-px, $fs-base);
$p-lg       : font_rem($p-lg-px, $fs-base);

//
// Line heights
//
$lh-xs  : 1.059;
$lh-sm  : 1.166;
$lh-md  : 1.2;
$lh-lg  : 1.4;

//
// Weights
//
$fw400  : 400;
$fw700  : 700;

// Define qué elementos selector de elemento
$html_elements: ( "h1", "h2", "h3", "h4", "h5", "h6", "p" );
$theme-sizes: (
    "jumbo"   : ( font-size: $jumbo-fs, line-height: $lh-sm, font-weight: $fw700 ),
    "h1"        : ( font-size: $h1-fs, line-height: $lh-sm, font-weight: $fw700 ),
    "h2"        : ( font-size: $h2-fs, line-height: $lh-md, font-weight: $fw700 ),
    "h3"        : ( font-size: $h3-fs, line-height: $lh-md, font-weight: $fw700 ),
    "h4"        : ( font-size: $h4-fs, line-height: $lh-lg, font-weight: $fw700 ),
    "h5"        : ( font-size: $h5-fs, line-height: $lh-lg, font-weight: $fw700 ),
    "h6"        : ( font-size: $h6-fs, line-height: $lh-lg, font-weight: $fw700 ),
    "f-xs"      : ( font-size: $p-xs, line-height: $lh-lg, font-weight: $fw400 ),
    "f-sm"      : ( font-size: $p-sm, line-height: $lh-lg, font-weight: $fw400 ),
    "f-md"      : ( font-size: $p, line-height: $lh-lg, font-weight: $fw400 ),
    "f-lg"      : ( font-size: $p-lg, line-height: $lh-lg, font-weight: $fw400 ),
);

//
// Vertical Spacing
// --------------------------------------
$space-xs 	: 0.333em;
$space-sm  	: 0.666em;
$space-md  	: 0.833em;
$space-lg  	: 1.249em;
$space-xl  	: 1.999em;
//$space-xl   : 2.666rem;
//$space-xxl  : 3.333rem;

// saltos map
$spaces:(
    'xs'    : $space-xs,
    'sm'    : $space-sm,
    'md'    : $space-md,
    'lg'    : $space-lg,
    'xl'    : $space-xl,
);

//
// Inner Spacing/paddings
// --------------------------------------
/*

$padding-xs     : 1.04%;
$padding-sm     : 2.08%;
$padding-md     : 4.16%;
$padding-lg     : 8.32%;
$padding-xl     : 16.64%;
*/
// Mobile paddings
$base-padding      : 0.625;
$base-padding-u    : $base-padding + rem;

$padding-xs     : $base-padding-u;
$padding-sm     : 1.250rem;
$padding-md     : 1.875rem;
$padding-lg     : 4.125rem;
$padding-xl     : 9.2rem;

$paddings-mobile:(
    "xs": 18px,
    "sm": 18px,
    "md": 18px,
    "lg": 18px,
    "xl": 18px,
);

$paddings:(
    "xs": $padding-xs,
    "sm": $padding-sm,
    "md": $padding-md,
    "lg": $padding-lg,
    "xl": $padding-xl,
);

//
// static paddings
// --------------------------------------
$padding-1: 12px;
$padding-2: 24px;
$padding-3: 40px;
$padding-4: 60px;
$padding-5: 80px;
$padding-6: 160px;
$padding-7: 320px;

//
// z-index
// --------------------------------------
$z1:  999 !default;
$z2:  1000 !default;
$z3:  1000 !default;
$z4:  1030 !default;
$z5:  1040 !default;
$z6:  1050 !default;
$z7:  1060 !default;
$z8:  1070 !default;

//
// Screen Breakpoints
// --------------------------------------
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;
$screen-sm:                  639px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;
$screen-md:                  940px !default; // fits with half sized browser in big screents
//$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;// Large screen / wide desktop
$screen-xl:                  1599px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;
$screen-xxl:                 1900px !default;
$screen-xxl-min:             $screen-xxl !default;
// max
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;
$screen-xl-max:              ($screen-xxl-min - 1) !default;

// Screen sizes map
$screen-sizes: (
	'xs': $screen-xs-min,
	'sm': $screen-sm-min,
	'md': $screen-md-min,
	'lg': $screen-lg-min,
	'xl': $screen-xl-min,
	'xxl': $screen-xxl-min,
);

//
// Colors
// --------------------------------------
$color1     : #FECB00;  // rojo shine
$color2     : #831f82;  // morado
$color3     : #e6007e; // magenta
$color4     : #169fdb;  // cyan


$colorf 	: #ffffff;
$color0 	: #1e1e1e;
//
// greys
//
$grey1  	: #3c3b3a;
$grey2  	: #585756;
$grey3  	: #706f6f;
$grey4  	: #868686;
$grey5  	: #9c9c9b;
$grey6  	: #b1b1b0;
$grey7  	: #c7c5c5;
$grey8  	: #e3e3e3;
$grey9  	: #e9e9e9;
$grey10 	: #eeefef;
$grey11 	: #f4f3f4;
$grey12		: #f9f9f9;

// Colors Map
$colors: (
	"f":  		$colorf,
	"body":  	$colorf,
	"font":  	$colorf,
    "0":        $color0,
	"1":		$color1,
	"2":		$color2,
	"3":		$color3,
	"4":		$color4,
	"grey1":  	$grey1,
	"grey2":  	$grey2,
	"grey3":  	$grey3,
	"grey4":  	$grey4,
	"grey5":  	$grey5,
	"grey6":  	$grey6,
	"grey7":  	$grey7,
	"grey8":  	$grey8,
	"grey9":  	$grey9,
	"grey10": 	$grey10,
	"grey11": 	$grey11,
	"grey12": 	$grey12,
);

// Basic theme colors
$bodyBgColor: $grey12;
$bodyFontColor: $grey3;
$linksColor: $color1;


//
// Icons
// --------------------------------------
$icons-class        : 'c-icon';
$iconfix-class      : "c-icon-f"; // no responsive

$icons: (
    'xs': (size: $size-rem-xs, font-size: $h5-fs, padding: .6em),
    'sm': (size: $size-rem-sm, font-size: $h4-fs, padding: .6em),
    'md': (size: $size-rem-md, font-size: $h3-fs, padding: .6em),
    'lg': (size: $size-rem-lg, font-size: $h1-fs, padding: .6em),
    'xl': (size: $size-rem-xl, font-size: 4.5rem, padding: .3em),
);

// Font used: Bonicons
$icon-font-id      : 'e5eca4';
$icon-font         : 'bonicons';
$path-to-icon-font-root : '../fonts/' + $icon-font;

// Linearicons
//$icon-font          : 'Linearicons-Free';
//$path-to-icon-font-root  : '../fonts/' + $icon-font;
//$icon-font-id        : 'h6wv1i';


//
// Bonicons icon variables
//
$i-twitter: "\e900";
$i-facebook: "\e901";
$i-google: "\e902";
$i-linkedin: "\e903";
$i-rss: "\e910";
$i-home: "\e9a5";
$i-menu-3: "\e9a6";
$i-menu-4: "\e9a7";
$i-menu-42: "\e9a8";
$i-layout: "\e9a9";
$i-layout-out: "\e9aa";
$i-ribbon: "\e9ab";
$i-ribbon-star: "\e9ac";
$i-label: "\e9ad";
$i-label-lines: "\e9ae";
$i-dialog: "\e9af";
$i-dialog-dots: "\e9b0";
$i-dialog-double: "\e9b1";
$i-arrow-bg-left: "\e9b2";
$i-arrow-bg-right: "\e9b3";
$i-folder: "\e9b4";
$i-folder-up: "\e9b5";
$i-folder-down: "\e9b6";
$i-search: "\e9b7";
$i-search-more: "\e9b8";
$i-lock: "\e9b9";
$i-lock-open: "\e9ba";
$i-key: "\e9bb";
$i-config: "\e9bc";
$i-help: "\e9bd";
$i-paperclip: "\e9be";
$i-link: "\e9bf";
$i-share: "\e9c0";
$i-download: "\e9c1";
$i-upload: "\e9c2";
$i-folio: "\e9c3";
$i-folio-lines: "\e9c4";
$i-basket: "\e9c5";
$i-pencil: "\e9c6";
$i-pen: "\e9c7";
$i-briefcase: "\e9c8";
$i-micro: "\e9c9";
$i-music: "\e9ca";
$i-quotes: "\e9cb";
$i-clock: "\e9cc";
$i-compass: "\e9cd";
$i-map: "\e9ce";
$i-indication: "\e9cf";
$i-location: "\e9d0";
$i-flag: "\e9d1";
$i-hand-up: "\e9d2";
$i-hand-down: "\e9d3";
$i-heart: "\e9d4";
$i-heart-half: "\e9d5";
$i-heart-full: "\e9d6";
$i-star: "\e9d7";
$i-star-half: "\e9d8";
$i-star-full: "\e9d9";
$i-rss: "\e9da";
$i-diamond: "\e9db";
$i-face-smile: "\e9dc";
$i-face-sad: "\e9dd";
$i-check: "\e9de";
$i-font-up: "\e9df";
$i-font-down: "\e9e0";
$i-phone: "\e9e1";
$i-screen: "\e9e2";
$i-laptop: "\e9e3";
$i-tablet: "\e9e4";
$i-mobile-phone: "\e9e5";
$i-photo-camera: "\e9e6";
$i-video-camera: "\e9e7";
$i-picture: "\e9e8";
$i-mail: "\e9e9";
$i-eye: "\e9ea";
$i-battery: "\e9eb";
$i-battery-half: "\e9ec";
$i-battery-full: "\e9ed";
$i-sound-off: "\e9ee";
$i-sound: "\e9ef";
$i-cup: "\e9f0";
$i-award: "\e9f1";
$i-cart: "\e9f2";
$i-card: "\e9f3";
$i-info: "\e9f4";
$i-loop: "\e9f5";
$i-random: "\e9f6";
$i-play: "\e9f7";
$i-pause: "\e9f8";
$i-prev: "\e9f9";
$i-start: "\e9fa";
$i-db-arrow-left: "\e9fb";
$i-db-arrow-right: "\e9fc";
$i-end: "\e9fd";
$i-next: "\e9fe";
$i-bolt: "\e9ff";
$i-plus: "\ea00";
$i-plus-sm: "\ea01";
$i-minus: "\ea02";
$i-minus-sm: "\ea03";
$i-cross: "\ea04";
$i-cross-sm: "\ea05";
$i-arrow-left: "\ea06";
$i-arrow-left-sm: "\ea07";
$i-arrow-right: "\ea08";
$i-arrow-right-sm: "\ea09";
$i-arrow-up: "\ea0a";
$i-arrow-up-sm: "\ea0b";
$i-arrow-down: "\ea0c";
$i-arrow-down-sm: "\ea0d";
$i-arrow-ln-left: "\ea0e";
$i-arrow-ln-right: "\ea0f";
$i-arrow-ln-up: "\ea10";
$i-arrow-ln-down: "\ea11";
$i-plus-cc: "\ea12";
$i-minus-cc: "\ea13";
$i-cross-cc: "\ea14";
$i-switch-off: "\ea15";
$i-switch-on: "\ea16";
$i-loader-rd: "\ea17";
$i-loader-left: "\ea18";
$i-loader-right: "\ea19";
$i-loader: "\ea1a";
$i-user: "\ea1b";
$i-users: "\ea1c";

/**--------------------------------------
 * --------------------------------------
 *
 * 01. header fixed with toggle button
 * in all versions.
 *
 * --------------------------------------
 * -------------------------------------- */
//
// Header
//

// heights
$appHeader-height           : $size-rem-md;
$appHeader-bg               : $color1;

// Logo
//
// Select using <img> or CSS background
// at logo. Leave this blank '' to use <img>.
$appLogo-margin             : 0 $space-sm;
$appLogo-fs                 : $h4-fs;
$appLogo-color              : $grey1;
$appLogo-height             : $appHeader-height;
$appLogo-img                : 'assets/img/shine-coaching-logo.svg';
$appLogo-img                : '';
$appLogo-img-no-svg         : 'assets/img/shine-coaching-logo.png';

// Nav Toggle
$appToggle-icon             : $i-menu-4;
$appToggle-icon-expanded    : $i-cross;
$appToggle-fs               : $h4-fs;
$appToggle-position         : left;
$appToggle-color            : #000000;
$appToggle-bg               : transparent;

// Nav Main
$main-nav-font              : $main-font;
$main-nav-fs                : $p-sm;
$main-nav-lh                : $lh-sm;
$main-nav-f-weight          : 400;
$main-nav-l-spacing         : 0;
$main-nav-i-padding         : $padding-sm $padding-xs;

// Colors
$main-nav-color             : $colorf;
$main-nav-active-bg         : $color0;
$main-nav-active-color      : $colorf;
$main-nav-bg                : $color1;
$main-nav-child-bg          : $grey1;
$main-nav-child-color       : $colorf;
$main-nav-child-padding     : $padding-xs $padding-xs;

// define screen to toggle displayed nad
$main-nav-breakpoint        : 1;
$main-nav-breakpoint-at     : 'md';

//
// Nav Main after breakpoint
//
$main-nav2-fs               : $p-xs;
$main-nav2-lh               : $appHeader-height;
$main-nav2-f-weight         : 400;
$main-nav2-l-spacing        : 0px;
$main-nav2-i-padding        : 0 $size-rem-1;

// Color
$main-nav2-color            : $color0;
$main-nav2-active-bg        : $color1;
$main-nav2-active-color     : $colorf;
$main-nav2-bg               : transparent;
$main-nav2-child-bg         : $grey1;
$main-nav2-child-lh         : 1.2em;
$main-nav2-child-color      : $colorf;
