/**--------------------------------------
 * --------------------------------------
 *
 * Responsive embeds
 * Credit: Nicolas Gallagher and SUIT CSS.
 *
 * --------------------------------------
 * -------------------------------------- */
$embeds-class: "c-embed";

.#{$embeds-class} {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;     // 16:9
    //padding-bottom: 75%;        // 4:3

    &__ct,
    iframe,
    embed,
    object {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}
