/**--------------------------------------
 * --------------------------------------
 *
 *   Text alignment
 *
 * --------------------------------------
 * -------------------------------------- */
.textleft,
.t-left {
    text-align: left;
}

.textright,
.t-right {
    text-align: right;
}

.textcenter,
.t-center {
    text-align: center;
}
