.flex {
  &--center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // align multipe items filling 
  // parent width
  &--align{
    display: flex;
    justify-content: space-between;
  }
}

.flex-item{
  background-color: cornflowerblue;
  
  &--center{
    margin-right: auto;
    margin-left: auto;
  }
  &--left{
    margin-right: auto;
  }

  &--right{
    margin-left: auto;
  }
  
}