/**--------------------------------------
 * --------------------------------------
 *
 * 01. header fixed with toggle button
 * in all versions.
 *
 * --------------------------------------
 * -------------------------------------- */
//
// Header
//

// heights
$appHeader-height           : $size-rem-md;
$appHeader-bg               : $grey12;

//
// Logo
// 
// Select using <img> or CSS background 
// at logo. Leave this blank '' to use <img>.
$appLogo-margin             : 0 $space-sm; 
$appLogo-img                : 'assets/img/shine-coaching-logo.svg'; 
$appLogo-img                : ''; 
$appLogo-img-no-svg         : 'assets/img/shine-coaching-logo.png'; 

//
// Nav Toggle
//
$appToggle-icon             : $i-menu-4;
$appToggle-icon-expanded    : $i-cross;
$appToggle-fs               : $h3-fs;
$appToggle-position         : left;
$appToggle-color            : $color1;
$appToggle-bg               : transparent;
$appToggle-bt-color         : $color1;
$appToggle-bt-color_active  : $color1;

//
// App Sidebar
//
$appCol-width       : $size-rem-xl;
$appCol-padding     : $space-sm;

//
// Nav Main
//
$main-nav-font          : $main-font;
$main-nav-fs            : $h3-fs;
$main-nav-lh            : $lh-sm;
$main-nav-f-weight      : 300;
$main-nav-l-spacing     : -0.5px;
$main-nav-i-padding     : .3em 0;

// Color
$main-nav-color         : $colorf;
$main-nav-active-bg     : transparent;
$main-nav-active-color  : $colorf;
$main-nav-bg            : $color1;
$main-nav-child-bg      : $color3;
$main-nav-child-color   : $color1;


// Envoltura si tenemos varíos
.l-01{}
// 
// Branding area
// 
#app-topbar {
    height: $appHeader-height; 
    background-color: $appHeader-bg;
    z-index: $z7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    @include shadow(0 8px 5px -5px rgba(0, 0, 0, 0.1));
}

#app-logo {
    display: inline-block;
    margin: $appLogo-margin;
    line-height: $appHeader-height;
    height: $appHeader-height;
    
    a {
        display: block;
        padding: $space-sm 0;
        height: $appHeader-height;
    }

    img {
        display: block;
        max-height: 100%;
        //c-img-h c-m-sm c-h-sm
    }
}

// 
// Menu toggle
//         
#nav-toggle {
    background: $appToggle-bg;
    margin: 0;
    color: $appToggle-color;
    float: right;
    @include square-make($appHeader-height);

    [class*="#{$icons-class}"]{
        line-height: $appHeader-height;
        &:before {
            content: $appToggle-icon;
        }
    }

    &[aria-expanded="true"] {
        [class*="#{$icons-class}"]:before {
            content: $appToggle-icon-expanded;
        }
    }
}

.site-navigation{
    padding: $size-rem-xs;
    //margin-top: $appHeader-height;
    background-color: $main-nav-bg;
    //border: 4px solid green !important;
    
    outline: 1px solid transparent; // avoid black spaces when reloading
    overflow-x: auto;
    @include transition(450ms cubic-bezier(0,0.7,0.5,1));
    // just mobile
    position: fixed;
    top: $appHeader-height;
    bottom: 0;
    right: 0;
    z-index: $z6;
    width: 100%;

    @include media-query('md'){
        width: 50%;
    }
    @include media-query('lg'){
        width: 33.33%;
    }
    @include media-query('xxl'){
        width: 25%;
    }

    // Curtain default and from Top
    //@include translate(0, -100%);
    // Curtain from right
    @include translate(100%,0);
    // Curtain from bottom
    //@include translate(0, 100%);
    // Curtain from left
    //@include translate(-100%,0);

    
    &.is_on {
        @include translate(0,0);
        height: auto;
    }

    a{
        font-family: $main-nav-font;
        font-size: $main-nav-fs;
        //line-height: $main-nav-lh !important;
        letter-spacing: $main-nav-l-spacing;
        font-weight: $main-nav-f-weight;
        color: $main-nav-color;
        display: inline-block;
        padding: $main-nav-i-padding;
        &:after{
            opacity: 0;
            @include transition(250ms cubic-bezier(0,0.7,0.5,1) 250ms);
            content: ' ';
            @include size(5px, 5px);
            background-color: #ffffff;
            @include border-radius(50%);
            position: absolute;
            display: inline-block;
            font-size: 90%;
            @include translate(5px, 7px);
        }

        &:hover{
            &:after{
                @include transition(500ms cubic-bezier(0,0.7,0.5,1) 250ms);
                opacity: 1;
                //background-color: #ffffff;
                //@include size(.333rem, .333rem );
                //@include
            }
        }
    }

    // bootstrap scrollSpy
    a.active { 
        background-color: $main-nav-active-bg;
        color: $main-nav-active-color;
    }

    // submenu
    .sub-menu,
    .children {
        li{
            background-color: $main-nav-child-bg;
            //font-size: 90%;
        }

        a{
            color: $main-nav-child-color;
        }
    }

    // Active with WP classes (TODO: separate WP classes).
    .current-menu-item,
    .current-menu-ancestor,
    .current_page_item,
    .current_page_ancestor,
    .current_page_item,
    .current_page_ancestor,
    .active,
    .is_active{
        //background-color: $main-nav-active-bg;
        > a{
            color: $main-nav-active-color;
            font-weight: 400;
            //border-bottom: 2px solid #fff;
            //margin-bottom: 0.33em;
        }

    }
}
