/**--------------------------------------
 * --------------------------------------
 *
 * Borders
 *
 * --------------------------------------
 * -------------------------------------- */
$border-class : "c-border";

.#{$border-class}{
    border-style: solid;
    border-width: 2px;
    @include content-box();
}