// Blog defaults colors
// No pega hacer colores por aquí pero 
// hay elementos de WP que no queremos
// recreat para añadir las clases.
$color-blog1   			  : $color4;
$blog-color-2nd     	: $color1;
$blog-color-3rd     	: $grey10;
$blog-labels-color  	: $grey9;