.masked-text-image{
  @include media-query('md'){
    background-image:  url(../img/carofile/home/manage-car-tablet.png);
    background-position: bottom right;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  @include media-query('lg'){
    background-image:  url(../img/carofile/home/manage-car.png);
  }
  
  @include media-query('xl'){
    display: flex;
    align-items: center;
  }
}