/**--------------------------------------
 * --------------------------------------
 *
 * Margins
 *
 * --------------------------------------
 * -------------------------------------- */
$margin-class: "m";

// iterate throw $spaces to 
// create margin sizes
@each $size, $value in $spaces {
    // Default salto
    .#{$margin-class}-#{$size} { 
        margin: $value;
    }
    
    // lateral
    .#{$margin-class}s-#{$size}{
        margin-left: $value;
        margin-right: $value;
    }

    // vertical
    .#{$margin-class}v-#{$size}{
        margin-top: $value;
        margin-bottom: $value;
    }

    // Positions
    @each $position in $positions {    
        $position-minified: short-position($position); 
        
        .#{$margin-class}#{$position-minified}-#{$size}{
            margin-#{$position}: map-get($spaces, $size);
        }
    }
}

/**
 * Margin Auto.
 * speciall help for Flexbox
 */
@each $position in $positions {    
    $position-minified: short-position($position); 
    
    .#{$margin-class}#{$position-minified}{
        margin-#{$position}: auto;
    }
}

// lateral
.#{$margin-class}s-auto{
    margin-left: auto;
    margin-right: auto;
}

// vertical
.#{$margin-class}v-auto{
    margin-top: auto;
    margin-bottom: auto;
}

/**
 * Margin reset
 */
.#{$margin-class}-0 { 
    margin: 0 !important;
}

// Positions
@each $position in $positions {    
    $position-minified: short-position($position); 
    
    .#{$margin-class}#{$position-minified}-0{
        margin-#{$position}: 0 !important;
    }
}

.#{$margin-class}v-0 { 
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.#{$margin-class}s-0 { 
    margin-right: 0 !important;
    margin-left: 0 !important;
}