// ---------------------------------------
// ---------------------------------------
// 
// Transform
// http://www.w3schools.com/cssref/css3_pr_transform.asp
// 
// ---------------------------------------
// ---------------------------------------
@mixin transform($transform){ 
    -ms-transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}