// Post Navigation
// ---------------------------
.navigation.post-navigation{
    .nav-links{
        background-color: $grey3;
        @include clearfix();
    }
    position: relative;
}

$post-navigation-height: $size-rem-sm;
$post-navigation-width: $size-rem-sm;
// navigation links
.nav-next,
.nav-previous{
    display: table-cell;
    vertical-align: top;
    //font-size: $p-lg;
    min-height: $post-navigation-height;
    width: 100%;
    a{
        padding: $padding-lg $post-navigation-width;
        width: 100%;
        display: block;
        color: $colorf;

        &:before{
            top: 50%;
            @include transform(translate(0, -50%));
            position: absolute;
            height: $post-navigation-height;
            font-size: $h4-fs;
            width: $post-navigation-width;
            line-height: $post-navigation-height;
            @extend %icon;
        }
    }

    // Responsive
    // ---------------------------
    @media screen and (min-width: $screen-sm-min)  {
        float: left;
        width: 50%;
    }
}

// prev link
$entry-post-navigation-anim: 0;
.nav-previous {
    border-right: 1px solid $colorf !important;
    a{
        padding-right: $post-navigation-width / 2;
        //@include transform(scale(1.1));
        &:before{
            left: 0;
            content: $i-arrow-left;
        }
    }

}
.nav-next {
    border-left: 1px solid $colorf !important;
    text-align: right;
    a{
        padding-left: $post-navigation-width / 2;
        &:before{
            right: 0;
            content: $i-arrow-right;
        }     
    }
}