/**--------------------------------------
 *
 *   Transitions filtered with Modernizr
 *
 * -------------------------------------- */
// activar solo para 
//@media screen and (min-width: $screen-lg-min) { // 1200px < }
// short
.csstransitions{
    .site-header{
        @include transition(all ease-in-out 300ms);   
    }
    // medium
    .main-nav-toggle,
    .logo-svg-color{
        @include transition(all ease-in-out 300ms 150ms);   
    }


    .gx-btn{
        @include transition(opacity ease-in-out 200ms);   
        &:hover {
            opacity: 1;
        }
    }

    /* Button link lists */
    .bonicons {
        @include transition(color ease-in-out 200ms);
    }
    .l-tiled{

        /* List elements */
        .i-facebook{
            &:hover{
                color: rgb(59, 89, 152);
            }
        } 
        .i-twitter{
            &:hover{
                color: rgb(0, 172, 237);
            }
        }

        .i-google{
            &:hover{
                color: rgb(221, 75, 57);
            }
        }

        .i-linkedin{
            &:hover{
                color: rgb(0, 123, 182);
            }
        }

        .i-pinterest{
            &:hover{
                color: rgb(203, 32, 39);
            } 
        } 

        .i-youtube{
            &:hover{
                color: rgb(187, 0, 0);
            }
        }

        .i-vimeo{
            &:hover{
                color: rgb(69, 187, 255);
            }
        }

        .i-soundcloud{
            &:hover{
                color: rgb(255,97,0);
            }
        }

        .i-dribbble{
            &:hover{
                color: rgb(227, 85, 139);
            }
        }

        .i-behance{
            &:hover{
                color: #131418;
            }
        }

        .i-skype{
            &:hover{
                color: #01AEF2;
            }
        }

        .i-flickr{
            &:hover{
                color: rgb(255, 0, 132);
            }
        }

        .i-rss{
            &:hover{
                color: #F1A300;
            }
        }

        .i-reddit{
            &:hover{
                color: #F0571E;
            }
        }

        .i-tumblr{
            &:hover{
                color: #529ECC;
            }
        }
    }
}
